doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/favicon-32x32.png", type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap")
        link(rel="stylesheet" href="./styles.styl")
        title Recipe Page
    body 
        main(class="card")
            figure 
                img(src="./assets/images/image-omelette.jpeg" alt="Omelette Image")
            header
                h1(class="recipe-title") Simple Omelette Recipe
                p(class="recipe-description").
                    An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.
            section(class="preparation")
                h2 Preparation time
                ul 
                    li
                        |
                        b Total
                        | : Approximately 10 minutes
                    li
                        |
                        b Preparation
                        | : 5 minutes
                    li 
                        |
                        b Cooking
                        | : 5 minutes
            section(class="ingredients")
                h2 Ingredients
                ul
                    li 2-3 large eggs
                    li Salt, to taste      
                    li Pepper, to taste
                    li 1 tablespoon of butter or oil
                    li Optional fillings: cheese, diced vegetables, cooked meats, herbs
                hr

            section(class="instructions")
                h2 Instructions
                ol
                    li
                        |
                        b Beat the eggs
                        | : In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffier texture.
                    li
                        |
                        b Heat the pan
                        | : Place a non-stick frying pan over medium heat and add butter or oil.
                    li
                        |
                        b Cook the omelette
                        | : Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface.
                    li
                        |
                        b Add fillings (optional)
                        | : When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette.
                    li
                        |
                        b Fold and serve
                        | : As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate.
                    li
                        |
                        b Enjoy
                        | : Serve hot, with additional salt and pepper if needed.
                hr

            section(class="nutrition")
                h2 Nutrition
                p The table below shows nutritional values per serving without the additional fillings.
                table
                    tr 
                        td Calories
                        td 277kcal
                    tr
                        td Carbs
                        td 0g
                    tr
                        td Protein
                        td 20g
                    tr
                        td Fat
                        td 22g
